[submodule "wav2agb"]
	path = wav2agb
	url = https://github.com/ipatix/wav2agb
[submodule "bin2asm"]
	path = bin2asm
	url = https://github.com/ipatix/bin2asm
[submodule "preproc"]
	path = preproc
	url = https://github.com/SBird1337/preproc
[submodule "midi2agb"]
	path = midi2agb
	url = https://github.com/ipatix/midi2agb
